<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.njpi.crm.mapper.BaseDictMapper">
    <select id="selectBaseDictByTypeCode" parameterType="String" resultMap="baseDictMap" resultType="baseDict">
           select * from tb_dict where dict_type_code=#{typecode}
    </select>
    <resultMap id="baseDictMap" type="baseDict">
        <id property="dictId" column="dict_id"/>
        <result property="dictTypeCode" column="dict_type_code"/>
        <result property="dictTypeName" column="dict_type_name"/>
        <result property="dictItemName" column="dict_item_name"/>
        <result property="dictItemCode" column="dict_item_code"/>
        <result property="dictSort" column="dict_sort"/>
        <result property="dictEnable" column="dict_enable"/>
        <result property="dictMemo" column="dict_memo"/>
    </resultMap>
</mapper>